[user]
  email = szeist@gmail.com
  name = Istvan Szenasi

[core]
	editor = nvim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global

[push]
  default = simple

[color]
  ui = auto

[diff]
  tool = vimdiff

[difftool]
  prompt = false
[commit]
	gpgSign = true
