[MESSAGES CONTROL]
#R0903 Too few public methods
disable=R0903

[TYPECHECK]
ignored-modules=flask_sqlalchemy
ignored-classes=scoped_session,Resource
extension-pkg-whitelist=lxml

[FORMAT]

max-line-length=120
